@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">[GAME NAME] Leaderboard</h1>
    <p>Software Engineering project for Landon, Alicia, and ZUYAS</a></p>
</div>

